  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: rgb(42, 43, 44);
    color: white;
  }
  
  .box-30 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box-30 p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .footerlinkit {
    color: white;
    font-size: 20px;
  }
  .kontaktit {
    color: white;
    font-size: 20px;
  }
  @media screen and (max-width: 768px) {
    footer{
      flex-direction: column;
      height: auto;
    }
    

  }