#maincenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #taidot {
    font-size: 3.5rem;
    color: white;
  }
  
  #center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(60, 61, 65), hsl(183, 92%, 20%));
    border-style: groove;
    border-width: 2px;
    border: 0px solid white;
    width: 100%;
    height: fit-content;
    box-shadow: 0 10px 10px rgb(5, 97, 109);
  }
  
  .rivi {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  .box-50 {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  #center2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 0px solid white;
    width: 80%;
  }
  
  #ohjkielet,
  #kielet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 100%;
  }
  
  
  .p {
    font-size: 1.5rem;
    color: white;
  }
  .taidot-grid {
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5,56px);
    margin-top: 10px;
  }
  .taidot {
    font-size: 46px;
    height: 50px;
    width: 50px;
  }
  .taitobox {
    align-items: center;
    background-color: #0f283d;;
    border-radius: 4px;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 6px;
    text-align: center;
    width: 50px
  }
  
  #center2 .progress-bar p {
    margin-bottom: 10px;
  }
  
  #kielet p {
    margin-bottom: 10px;
  }
  
  #kielet .CircularProgress-root {
    --CircularProgress-size: 14vw;
    color: var(--joy-palette-primary-500, #ffff);
    --CircularProgress-trackColor: #ccc;
    --CircularProgress-progressColor: rgb(17, 144, 148);
  }
  @media screen and (max-width: 768px) {
    .taidot {
      font-size: 36px;
      height: 40px;
      width: 40px;
    }
    .taitobox {
      align-items: center;
      border-radius: 4px;
      display: flex;
      height: 40px;
      width: 40px
    }
    .taidot-grid {
      grid-gap: 6px;
    }
  }